@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

header
{
  position: fixed;
  top:0; left: -3px; right:0;
  background: url(../img/o.jpg);
  padding:1rem 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .logo
{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 6px;
  font-size: 2.5rem;
  font-weight: bolder;
}
 header .logo i
 {
   color: #D83D3D;
 }
header .navbar
{
display: flex;
justify-content: center;
align-items: center;
}
header .navbar  a
{
  list-style: none;
  margin-left: 20px;
}
header .navbar a
{
  text-decoration: none;
  padding: 10px 28px;
  color: #fff;
  border-radius: 20px;
}
header .navbar a:hover,
header .navbar a.active
{
  background: #fff;
  color: #2b1055;
}
.Team
{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/5441023.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 7%;
}
.Team .conten
{  max-width: 200rem;
}
.Team .conten h3
{
  font-size: 5.3rem;
  text-transform: capitalize;
  color: #eb7194;
}
.Team .conten p
{
  font-size: 1.5rem;
  margin-bottom: 14px;
  letter-spacing: 1.5px;
  color: #f1dcf5;
  padding:.5rem 0;
  line-height: 1.5;
	font-weight: bolder;
}
.Team .conten span
{
  font-size: 2.1rem;
  color: #f1dcf5;
  text-transform: capitalize;
}
.conten::after
{
	content: "";
	position: absolute;
	width: 5px;
	height: 210px;
	background-color: #D83D3D;
	top: 201.5px;
	left: 80px;
}
.btn
{
  background-color: #e06387;
	color: white;
	text-decoration: none;
  font-size: 27px;
  display: inline-block;
  border-radius: .9rem;
	border: 4px solid transparent;
	font-weight: bolder;
	padding:.8rem 9rem;
	transition: .4s; 
}

.btn:hover
{
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.team
{
  color: #FA95FF;
  background: #191919;
}
.sub-heading
{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading
{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-transform: capitalize;
}
main
{
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .swiper-wrapper
  {
  padding:1rem 4%;
}
  .Group .slide
	{
      padding:2rem;
      box-shadow:var(--box-shadow);
      border:.1rem solid #ccc;
      border-radius: .5rem;
      position: relative; 
      background: #191919;  
  }
  .Group .slide .fa-user
	{
      position: absolute;
      top:2rem; right:2rem;
      font-size: 3rem;
      color: #ccc;
  }
  .Group .slide .user
	{
      display: flex;
      gap:1.5rem;
      align-items: center;
      padding-bottom: 1.5rem;
  }
  
  .Group .slide .user img
	{
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      object-fit: cover;
  }
  .Group .slide .user h3
	{
      color:#FA95FF;
      font-size: 2rem;
      padding-bottom: .5rem;
  }
  .Group .slide .user i
	{
      font-size: 1.3rem;
      color:#fff;
  }
  .Group .slide p
	{
      font-size: 2rem;
      line-height: 1.8;
      color:#fff;
  }

  .fa-file-word-o:before
	{
    content: "\f1c2";
  }
  .fa-laptop:before
	{
    content: "\f109";
  }
  .fa-handshake-o:before
	{
    content: "\f2b5";
  }
  .fa-pencil-square:before
	{
    content: "\f14b";
  }
  .fa-file-image-o:before
	{
    content: "\f1c5";
  }
footer
{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1)
{
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2)
{
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social
{
	display: flex;
}
.social a
{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #e86aba;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover
{
	transform: scale(1.3);
	transition: .3s;
}
.end
{
	position: absolute;
	color: #e86aba;
	bottom: 35px;
	font-size: 14px; 
}